{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
<form action="{% url 'mainapp:search' %}" method="get">
    <input style="width: 30%" class="form-control" name="q" type="text" placeholder="Для поиска ведите id или название файла">
</form>
<br>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Download</th>
        <th>Extension</th>
        <th>Delete</th>
    </tr>
    {% for file in objects %}
    <tr>
        <td>{{ file.pk }}</td>
        <td><a href="{% url 'mainapp:file_read' file.id %}">{{ file.uploadedFile }}</a></td>
        <td><a download="" href="media/{{ file.uploadedFile }}">скачать</a></td>
        <td>{{ file.title }}</td>
        <td>
            <a href="{% url 'mainapp:file_delete' file.id %}">удалить</a>
        </td>
    </tr>
    {% endfor %}
</table>

<a href="{% url 'mainapp:file_create'%}">
    <button>Загрузить файл</button>
</a>
{% endblock %}